.jSwitchContainer {
  width: 40px;
  height: 22px;
  cursor: pointer;
  border: 1px solid;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.jSwitchContainer-enabled {
  background-color: var(--color-green);
  justify-content: flex-end;
  transition: all 500ms ease-in-out;
}

.jSwitchContainer-pending {
  background-color: var(--color-orange);
  justify-content: center;
  transition: all 500ms ease-in-out;
}

.jSwitchContainer-disabled {
  background-color: var(--color-red);
  justify-content: flex-start;
  transition: all 500ms ease-in-out;
}

.jSwitchInner {
  width: 20px;
  aspect-ratio: 1/1;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
  padding: 0;
  background-color: var(--color-background);
  transform: rotate(0deg);
}

.jSwitchInner-enabled {
  /* left: 50%;
  transform: translateX(calc(50% - 3px)); */
  transition: all 500ms ease-in-out;
}

.jSwitchInner-pending {
  width: 14px;
  /* left: 50%;
  transform: translateX(-50%); */
  
  border: 4px solid #3498db;
  border-top: 4px solid transparent;
  animation: 500ms jSwitchInner-pending 500ms linear infinite;
  transition: all 500ms ease-in-out;
}


.jSwitchInner-disabled {
  /* left: 3px;
  transform: rotate(0deg); */
  transition: all 500ms ease-in-out;
}

@keyframes jSwitchInner-pending {
  0% {
    transform: rotate(0deg);
    /* transform: translateX(-50%) rotate(0deg); */
  }
  100% {
    /* transform: translateX(-50%) rotate(359deg); */
    transform: rotate(359deg);
  }
}